{% extends 'base.html' %}

{% block title %}Register Now{% endblock title %}

{% block body %}

<div class="container-fluid px=0">
  <img src="/static/images/register.jpg" class="d-block w-100 mx=0" alt="...">
 
</div>
  
  <div class="container my-4">
  <h1 class="text-center">Register Now </h1>
  <form method="post" action="/register">

    {% csrf_token %}

    <div class="form-group">
      <label for="name" >Full Name</label>
      <input type="text" class="form-control"  name="name" id="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="emailid" >Email address</label>
      <input type="email" class="form-control" name="emailid" id="emailid" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="phone" >Phone No</label>
      <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your phone number">
    </div>
    <div class="form-group">
      <label for="password1" >Password</label>
      <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="password2" >Confirm Password</label>
      <input type="password" class="form-control" name="password2" id="password2" placeholder="Enter Confirm password">
    </div>

  
  
    <button type="submit" class="btn btn-primary">Submit</button>

      </form>


</div

{% endblock body %}


